<!DOCTYPE html>
<html>

<style>
    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        font-family: Arial;
        box-sizing: border-box;
        background-color: #ecf0f3;
    }

    .title {
        text-align: center;
        padding: 1rem;
    }
    h1{
        font-weight: 1200;
        font-size: 1.8rem;
        color: #1DA1F2;
        letter-spacing: 1px;
        
    }
</style>

<head>
    <title>Interface</title>
    <script type="module" src="./components/controller.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
</head>

<body>
    <h1 class="title">JAMES Interface</h1>
    <controller-Ƅ></controller-Ƅ>
</body>

</html>